.grid-container{
    display: grid;
    /* grid-template-rows:repeat(1,250px);
    grid-template-columns:repeat(2,250px); */
    gap: 10px;
}
.card{
    width: 230px;
    height: fit-content;
    position: relative;
    transition: .5s; 
    border-left: 5px solid #deed3d;
    background: transparent;
}
.card:hover{
     transition: all 3s;
}
img{
    width: 30vh;
    height: 35vh;
}
.info{
    position: relative;
} 

.info > .InfoCard {
    position: absolute;
    top: 100%; /* or any other desired position */
    left: 0;
    display: none;
  }
  
.info:hover > .InfoCard {
    display: block;
}

